/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
    background-color: #f4f9fd;
}
img {
    width: 100%;
    /*  Per fare in modo che non abbiano spazi strani
        e che vada su una nuova riga */
    display: block;
}

/* Main text */
.main-text {
    font-size: 14px;
    line-height: 1.8;
    margin: 20px 0;
}
.text-low {
    font-size: 10px;
    margin: 12px 0;
}

/* Container generico che racchiude tutto */
.container {
    width: 1050px;
    margin: auto;
}
.container-small {
    width: 800px;
    margin: auto;
}

.button {
    display: inline-block;
    padding: 20px 35px;
    background-color: #fe775a;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    margin: 25px 0;
}


/* HEADER */
header {
    margin-top: 80px;
}

/* NAV + MENU */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}

nav {
    padding: 15px 0;
    margin-bottom: 0;
}

header .logo img {
    color: #33475b;
}
header .menu li {
    display: inline-block;
    margin-left: 20px;
    line-height: 30px;
}
.menu-right {
    float: right;
}

.menu a {
    color: #33475b;
    text-decoration: none;
}

.menu li i {
    margin-left: 5px;
}

/* Teaser */
/* Background img */
header .bg-img {
    height: 800px;
    background-image: url("../img/jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.teaser {
    padding-top: 50px;
    width: 52%;
}

h1 {
    font-size: 50px;
}

/* MAIN */
/* Head */
.head-main {
    padding: 30px 0;
    text-align: center;
}
.head-main .logo-main img {
    width: 20%;
    margin: auto;
}

/* Box 1 */
.box1 {
    padding: 60px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px black;
}
.img_button {
    text-align: center;
    margin: auto;
    width: 30%;
}

.col-image {
    width: 60%;
    margin: auto;
}

.box1 .col-text {
    width: 70%;
    background-color: tomato;
}

h3 {
    font-size: 18px;
}