/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
    background-color: #f4f9fd;
}
img {
    width: 100%;
    /*  Per fare in modo che non abbiano spazi strani
        e che vada su una nuova riga */
    display: block;
}
.main-text {
    font-size: 14px;
    line-height: 1.8;
    margin: 20px 0;
}
.text-low {
    font-size: 10px;
    margin: 12px 0;
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 23px;
}
h4 {
    text-transform: uppercase;
    font-size: 18px;
}
.line {
    height: 1px;
    width: 300px;
    border-bottom: 2px solid #899397;
}

/* Container generico che racchiude tutto */
.container {
    width: 1050px;
    margin: auto;
}
.container-small {
    width: 800px;
    margin: auto;
}
.button {
    display: inline-block;
    padding: 20px 35px;
    background-color: #fe775a;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}



/* HEADER */
header {
    margin-top: 80px;
}

/* NAV + MENU */
/* Nav */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
nav {
    padding: 15px 0;
    margin-bottom: 0;
}
header .logo img {
    color: #33475b;
}

/* Menu */
header .menu li {
    display: inline-block;
    margin-left: 20px;
    line-height: 30px;
}
.menu-right {
    float: right;
}
.menu a {
    color: #33475b;
    text-decoration: none;
}
.menu li i {
    margin-left: 5px;
}

/* Background img */
header .bg-img {
    height: 800px;
    background-image: url("../img/jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Teaser */
.teaser {
    padding-top: 50px;
    width: 52%;
}


/* MAIN */
/* Head */
.head-main {
    padding: 30px 0;
    text-align: center;
}
.head-main .logo-main img {
    width: 20%;
    margin: auto;
}
.descript h2 {
    font-size: 30px;
}

/* Box 1 MAIN*/
.box1, .text-centered {
    padding: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 6px #d9d9d9;
}
/* Container img + button */
.box1 .img_button {
    text-align: center;
    margin: auto;
    width: 30%;
}
.box1 .col-image {
    width: 45%;
    margin: auto;
}
.box1 .col-text { 
    width: 70%;
}
/* List 1st BOX */
.box1 .goals ul {
    margin-top: 20px;
}
.box1 .checks li {
    display: inline-block;
    margin-right: 30px;
}
.fa-check-circle {
    margin-right: 10px;
    color: #fe775a;
    text-decoration: none;
}

/* 3 boxes */
.boxes {
    margin: 25px 0;
}
.boxes .text-centered {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Regola sovrascritta per spaziare meglio il testo equamente sulle righe */
.col.text-centered {
    padding-left: 30px;
    padding-right: 30px;
}
.three-col {
    margin-top: 5%;
}
.three-col .col {
    width: 30%;
}
.three-col .col:nth-child(2) {
    margin: 0 5%;
}
.col-image img {
    height: 90px;
    margin: auto;
}
.text-centered .col-text {
    /* test */
    margin-top: 20px;
}
.boxes .line {
    width: 100%;
    margin-top: 80px;
}
.boxes h4 {
    margin: 30px 0;
}
.boxes .checks {
    text-align: left;
    list-style-type: none;
    line-height: 1.4;
    margin-bottom: 30px;
}